.header {
    display: flex;
    align-items: center;
    .container {
        width: 100%;
        .logoContainer {
            display: flex;
            .logo {
                cursor: pointer;
                height: 70px;
            }
        }
    }
}