.featuredProduct {
    height: 100%;
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &.turqoise {
        background: $turqoise;
    }
    &.blue-grey {
        background: $blue-grey;
    }
    &.green {
        background: $green;
    }
    &.tan {
        background: $tan;
    }
    &.dark-tan {
        background: $dark-tan;
    }
    &.large {
        .productImage {
            width: 85% !important;
            max-height: none;
        }
    }
    &:hover {
        .productImage {
            transform: scale(1.1);
        }
    }
    .productInfo {
        position: absolute;
        top: 0;
        left: 0;
        .productTitle,
        .productPrice {
            display: inline-block;
            background: $black;
            color: $white;
            padding: 10px;
        }
        .productTitle {
            min-width: 200px;
        }
    }
    .productImage {
        width: auto !important;
        max-height: 410px;
        transform-origin: bottom;
        transform: scale(1);
        transition: transform .2s ease-in-out;
    }
}