.productLayout {
    position: relative;
}

.input {
    margin-bottom: 20px;
    label {
        color: $dark-green;
        margin-bottom: 5px;
    }
    textarea {
        resize: vertical;
        min-height: 150px;
    }
}
