.productListItem {
    position: relative;
    height: 300px;
    cursor: pointer;
    overflow: hidden;
    @media (max-width: 576px) {
        height: 400px;
    }
    &:hover {
        .productImage {
            transform: scale(1.1);
            @media (max-width: 576px) {
                transform: translateX(-50%);
            }
        }
    }
    &.green {
        background: $green;
    }
    &.turqoise {
        background: $turqoise;
    }
    &.tan {
        background: $tan;
    }
    .productImage {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: scale(1);
        transition: transform .2s ease-in-out;
        transform-origin: center;
        @media (max-width: 576px) {
            width: auto;
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .icon {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%);
        color: $black;
        font-size: 4rem;
    }
}