.hero {
    position: relative;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    .productContainer {
        flex: 1;
        .stack {
            height: 100%;
        }
    }
}