.productDetails {
    height: 100%;
    padding: 30px 0;
    .center {
        height: 100%;
    }
    .description {
        margin-bottom: 30px;
    }
    .reviews {
        margin-bottom: 20px;
        .stars {
            color: $dark-green;
        }
    }
    .sizes {
        margin-bottom: 30px;
    }
    .productPrice {
        margin: 0 10px;
        &.onSale {
            text-decoration: line-through;
        }
    }
}