.alert {
    margin-bottom: 30px;
}

.input {
    &.uppercase {
        input {
            text-transform: uppercase;
            &::placeholder {
                text-transform: none;
            }
        }
    }
    &.noMargin {
        label {
            margin-bottom: 0 !important;
        }
    }
}