.navContainer {
    display: flex;
    align-items: center;
    .list {
        padding: 0;
        margin: 0 0 0 20px;
        display: flex;
        list-style: none;
        .listItem {
            margin-right: 5px;
            font-size: .875rem;
            &.active,
            &:hover {
                .link {
                    color: $turqoise;
                    &::after {
                        width: 30%;
                    }
                }
            }
            .link {
                &.active {
                    color: $turqoise;
                    &::after {
                        width: 30%;
                    }
                }
                cursor: pointer;
                display: block;
                padding: 10px;
                text-decoration: none;
                position: relative;
                color: $dark-green;
                transition: all .2s ease-in-out;
                &::after {
                    content: '';
                    height: 2px;
                    width: 0;
                    transition: width .2s ease-in-out;
                    background: $turqoise;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}