.productInfo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    .productTitle,
    .productPrice {
        display: inline-block;
        background: $black;
        color: $white;
        padding: 12px 25px;
    }
    .productPrice {
        letter-spacing: 1px;
        .onSale {
            text-decoration: line-through;
            margin-right: 10px;
        }
    }
    .productTitle {
        min-width: 200px;
    }
}