h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-bottom: 30px;
    text-transform: capitalize;
    color: $black !important;
    &.no-margin {
        margin-bottom: 0;
    }
}

h1, .h1 {
    font-weight: $font-bold;
    margin-bottom: 60px;
    font-size: 60px;
}

h2, .h2 {
    font-weight: $font-bold;
    margin-bottom: 80px;
    font-size: 40px;
    @media only screen and(max-width: 768px) {
        font-size: 30px;
    }
}

h3, .h3 {
    font-weight: $font-medium;
    font-size: 30px;
    @media only screen and(max-width: 768px) {
        font-size: 25px;
    }
}

h4, .h4 {
    font-weight: $font-medium;
    font-size: 20px;
}

h5, .h5 {
    font-weight: $font-regular;
    font-size: 18px;
}

h6, .h6 {
    font-weight: $font-regular;
    font-size: 16px
}

p {
    margin: 0 0 30px;
}

em {
    color: $black;
}h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-bottom: 30px;
    text-transform: capitalize;
    &.no-margin {
        margin-bottom: 0;
    }
}

h1, .h1 {
    font-weight: $font-bold;
    margin-bottom: 60px;
    font-size: 60px;
}

h2, .h2 {
    font-weight: $font-bold;
    margin-bottom: 80px;
    font-size: 40px;
    @media only screen and(max-width: 768px) {
        font-size: 30px;
    }
}

h3, .h3 {
    font-weight: $font-medium;
    font-size: 30px;
    @media only screen and(max-width: 768px) {
        font-size: 25px;
    }
}

h4, .h4 {
    font-weight: $font-medium;
    font-size: 20px;
}

h5, .h5 {
    font-weight: $font-regular;
    font-size: 18px;
}

h6, .h6 {
    font-weight: $font-regular;
    font-size: 16px
}

p {
    margin: 0 0 30px;
    color: $text;
    &.large-line-height {
        line-height: 2rem;
    }
}

em {
    color: $black;
}