// colors
$black: #25262b;
$white: #fff;
$blue-grey: #E7F5FF;
$turqoise: #00A697;
$green: #42C6A1;
$dark-green: #1a5545;
$tan: #E7F5A9;
$dark-tan: #BFE486;

// fonts
$comfortaa: 'Comfortaa', cursive;

// font weights
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// breakpoints
$sm: 768px;